@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu&display=swap');

p{
    font-family: "Montserrat Medium";
    font-size: 13px;
}

h1,h2,h3{
    font-family: Ubuntu;
}

h4{
  font-family: Ubuntu;
    font-style: normal;
    font-size: 15px;
    font-weight: 700;
}
